.fa-award{
    color: #ee0676;
}

.checkbox{
    height: 30px;
    width: 30px;
}
/* .progres-user{ */
    /* background-color: rgb(4, 164, 204); */
    /* width: 100%; */
    /* height: 80%; */
    /* border-radius: 1.5rem; */
/* } */
